*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --background-color:  #E9F5F5;
    --fade-color: rgba(22, 54, 54, 0.5);
    --font-black-color: #163636;
    --section-head-color: #348183;
    --hero-font-size: 4.5rem;
    --sections-big-font: 3.5rem;
    --sections-paragragh: 1.25rem;
    --section-head-font: 0.875rem;
    --fade-color-font: 1rem;
}
html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    background: var(--background-color);
    font-family: 'Catamaran', sans-serif;
    white-space: normal;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar a{
    font-weight: 400;
    font-size: var(--fade-color-font);
    color: var(--fade-color);
    padding: 10px 20px;
}
.navbar li a:hover{
    background: var(--section-head-color);
    transition: 0.4s;
    color: #fff;
    transform: scale(1.04);
}
.navbar .logo{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 2.5rem;
    margin-right: 1rem;
}
#menu-icon{
    font-size: 30px;
    display: none;
}
.top-button{
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.295743);
    border-radius: 24px;
    padding: 10px 30px;
    font-weight: 900;
    font-size: var(--section-head-font);
    background: transparent;
    cursor: pointer;
    /* position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%; */
}

section{
    padding: 50px 0;
}

/* hero styling  */
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(./images/hero.png) no-repeat;
    background-position: top right ;
    background-size: 972px 915px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.hero-text{
    margin-left: 10em;
    margin-top: 5em;
}
.hero-text h2{
    font-weight: 700;
    font-size: var(--section-head-font);
    color: var(--section-head-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.hero-text h1{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 4.5rem;
    line-height: 5rem;
    letter-spacing: -2px;
}
.hero-text p{
    font-weight: 400;
    color: var(--font-black-color);
    font-size: var(--sections-paragragh);
    line-height: 32px;
    margin-bottom: 2rem;
}
.hero-btn{
    display: inline-block;
    padding: 10px 30px;
    background: var(--section-head-color);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.295743);
    border-radius: 24px;
    font-weight: 900;
    font-size: var(--section-head-font);
    cursor: pointer;
}
/* end of hero  */

/* zoo faeture styling  */
.features-text h2{
    font-weight: 700;
    font-size: var(--section-head-font);
    color: var(--section-head-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.features-text h1{
    margin-top: 2rem;
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
}

/* card styling  */
.features_grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
    gap: 3rem;
    /* flex-wrap: wrap; */
}
 /* exotic card  */
.card_exotic{
    background: var(--background-color);
    height: 25rem;
    width: 23.125rem;
    border-radius: 48px;
}
.card_exotic .icon{
    background-color: #fff;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.card_exotic h1{
    color: var(--font-black-color);
    font-weight: 900;
    font-size: 1.5rem;
    padding-left: 2rem;
}
.card_exotic p{
    margin-left: 2rem;
    font-size: var(--fade-color-font);
    color: var(--fade-color);
    line-height: 32px;
    margin-top: 2rem;
}

/* modern card  */

.card_mordern{
    background: #fff;
    height: 25rem;
    width: 23.125rem;
    border-radius: 48px;
}
.card_mordern .icon{
    background-color: var(--background-color);
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.card_mordern h1{
    color: var(--font-black-color);
    font-weight: 900;
    font-size: 1.5rem;
    padding-left: 2rem;
}
.card_mordern p{
    margin-left: 2rem;
    font-size: var(--fade-color-font);
    color: var(--fade-color);
    line-height: 32px;
    margin-top: 2rem;
}
/* popular card  */
.card_popular{
    background: var(--background-color);
    height: 25rem;
    width: 23.125rem;
    border-radius: 48px;
}
.card_popular .icon{
    background-color: #fff;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.card_popular h1{
    color: var(--font-black-color);
    font-weight: 900;
    font-size: 1.5rem;
    padding-left: 2rem;
}
.card_popular p{
    margin-left: 2rem;
    font-size: var(--fade-color-font);
    color: var(--fade-color);
    line-height: 32px;
    margin-top: 2rem;
}
/* end of features styling  */

/* about zoo  */
.about-zoo{
    display: flex;
    /* flex-wrap: wrap; */
    position: relative;
}
 .about-zoo .about-image {
    width: 900px;
}
.about-text{
    align-self: center;
    margin-left: 5rem;
} 
.about-text h2{
    font-weight: 700;
    color: var(--section-head-color);
    font-size: var(--section-head-font);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.about-text h1{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 2.5rem;
    line-height: 3rem;
}
.about-text p{
    font-weight: 400;
    color: var(--font-black-color);
    font-size: var(--sections-paragragh);
    line-height: 32px;
    margin-top: 1rem;
}
.about-text li{
    font-weight: 400;
    font-size: var(--fade-color-font);
    color: var(--fade-color);
    line-height: 50px;
}
.fa-check{
    padding-right: 1rem;
    font-size:24px;
    color: var(--section-head-color);
}
.about-text .link p{
    font-weight: 400;
    font-size: var(--fade-color-font);
    color: var(--fade-color);
}
.about-text .link a{
    font-weight: 400;
    color: var(--font-black-color);
    font-size: var(--fade-color-font);
}

/* live video scetion  */

.live-video .text{
    text-align: center;
}
.live-video .text h2{
    font-weight: 700;
    color: var(--section-head-color);
    font-size: var(--section-head-font);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.live-video .text h1{
    margin-top: 2rem;
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 2.5rem;
    line-height: 3rem;
}
.live-video .text p{
    font-weight: 400;
    color: var(--font-black-color);
    font-size: var(--sections-paragragh);
    line-height: 32px;
}

.gif_img{
    display: flex;
    gap: 4rem;
    margin-top: 3rem;
    justify-content: center;
}
.gif_img img{
    max-width: 100%;
}

.gif_img .profile_box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 5rem;
}

 /* common elements  */
.icon_box{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

    /* girrafe profile  */

.gif_img .profile_box .girrafe{
    background: var(--section-head-color);
    height: 144px;
    width: 370px;
    border-radius: 32px;
    display: flex;
}
.gif_img .profile_box .girrafe .icon_bg{
    background: #fff;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gif_img .profile_box .girrafe img{
    height: 3rem;
    width: 3rem;
}
.girrafe .profile_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}
.girrafe .profile_content h1{
    font-weight: 900;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
}
.girrafe .profile_content p{
    font-weight: 400;
    color: rgba(255, 255, 255, 0.502972);
    font-size: var(--fade-color-font);
    line-height: 32px;
}

     /* monkey profile styling  */


.gif_img .profile_box .monkey{
    background: #fff;
    height: 144px;
    width: 370px;
    border-radius: 32px;;
    display: flex;
}
.gif_img .profile_box .monkey .icon_bg{
    background: var(--background-color);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gif_img .profile_box .monkey img{
    height: 3rem;
    width: 3rem;
}
.monkey .profile_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}
.monkey .profile_content h1{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 1.5rem;
}
.monkey .profile_content p{
    font-weight: 400;
    color: var(--fade-color);
    font-size: var(--fade-color-font);
    line-height: 32px;
}

/* tiger profile  */

.gif_img .profile_box .tiger{
    background: #fff;
    height: 144px;
    width: 370px;
    border-radius: 32px;
    display: flex;
}
.gif_img .profile_box .tiger .icon_bg{
    background: var(--background-color);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gif_img .profile_box .tiger img{
    height: 3rem;
    width: 3rem;
}
.tiger .profile_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}
.tiger .profile_content h1{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
}
.tiger .profile_content p{
    font-weight: 400;
    color: var(--fade-color);
    font-size: var(--fade-color-font);
}
/* down arrow sytle  */

.arrow_down{
    height: 4rem;
    width: 23rem;
    background-color: #fff;
    border-radius: 25rem;
}
.arrow_down .fa-chevron-down{
    font-size:30px;
    color: #348183;
    margin-top: 1rem;
}
.arrow_down .arrow_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* service section  */
.service{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    position: relative;
}
.service .tiger-img {
   width: 900px;
}

.service-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-left: 20rem;
    margin-top: 8%;
}
.service-text h2{
    font-weight: 700;
    color: var(--section-head-color);
    font-size: var(--section-head-font);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.service-text h1{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 2.5rem;
    line-height: 3rem;
}
.service-text p{
    font-weight: 400;
    color: var(--font-black-color);
    font-size: var(--sections-paragragh);
    line-height: 32px;
}
.service-text .line_text{
    display: flex;
    align-items: center;
}
.service-text .line_text img{
    height: 5.2rem;
}
.service-text .line_text p{
    margin-left: 1.5rem;
    color: var(--fade-color);
    font-size: var(--fade-color-font);
    font-weight: 400;
}

.service-text .learn_more p{
    color: var(--fade-color);
    font-size: var(--fade-color-font);
    font-weight: 400;
}
.service-text .learn_more a{
    font-weight: 400;
    color: var(--font-black-color);
    font-size: var(--fade-color-font);
}

/* map styling  */
.map-text{
    text-align: center;
    padding-bottom: 2rem;
}
.map_image{
    text-align: center;
}
.map-text h2{
    font-weight: 700;
    color: var(--section-head-color);
    font-size: var(--section-head-font);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.map-text h1{
    margin-top: 2rem;
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 2.5rem;
    line-height: 3rem;
}
.map-text p{
    font-weight: 400;
    color: var(--font-black-color);
    font-size: var(--sections-paragragh);
    line-height: 32px;
}

.animals_count{
    display: flex;
    justify-content: center;
    padding-top: 3.5rem;
    gap: 5rem;

}
.animals_count .animals{
    display: flex;
    justify-content: center;
}
.animals_count .animals .num_1 h1{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 4.5rem;
    line-height: 5rem;
}
.animals_count .animals .animals_info{
    margin-left: 1.5rem;
    margin-top: 1.5rem;

}
.animals_count .animals .animals_info h2 {
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 1.5rem;
}
.animals_count .animals .animals_info p{
    line-height: 1.5rem;
    color: var(--fade-color);
    padding-top: 1.2rem;
    font-weight: 400;
    font-size: var(--fade-color-font);
}

/* gallery section  */
.gallery .gallery-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-text{
    margin-right: 40rem;
}
.gallery-text h2{
    font-weight: 700;
    color: var(--section-head-color);
    font-size: var(--section-head-font);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.gallery-text h1{
    margin-top: 2rem;
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 2.5rem;
    line-height: 3rem;
}
.gallery-text p{
    font-weight: 400;
    color: var(--font-black-color);
    font-size: var(--sections-paragragh);
    line-height: 32px;
}

  /* gallery images view  */

.gallery .image_gallery{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 2rem;
    padding-top: 4rem;
    
}

/* common elements in gallery large images */
.animal_card_large{
    background-color: var(--section-head-color);
    height: 25rem;
    width: 35.625rem;
    border-radius: 32px;
}
.animal_card_large .cover_img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0.5rem;
    height: 17.5rem;
    width: 34.625rem;
    border-radius: 24px;
    background: url(./images/girrafe_1.jpeg) no-repeat;
    background-position: 50%;
    background-size: cover;

}
/* .animal_card_large .cover_img img{
    height: 18rem;
    width: 31rem;
    border-radius: 25px;
} */
.image_gallery  .animal_card_large .card_pro{
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    gap: 0.7rem;
}
.image_gallery  .animal_card_large .card_pro .backg{
    background-color: #fff;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_gallery  .animal_card_large .card_pro .backg img{
    height: 2rem;
    width: 2rem;
}
.image_gallery .animal_card_large .card_pro h3{
    font-weight: 900;
    color: #fff;
    font-size: 1.5rem;
}

 /* first gallery  */

.image_gallery .gallery_1{
    display: flex;
    gap: 3rem;
}
.image_gallery .gallery_1 .animal_card{
    background-color: var(--section-head-color);
    height: 25rem;
    width: 16.875rem;
    border-radius: 32px;
}
.image_gallery .gallery_1 .animal_card .cover_img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17.5rem;
    width: 15.875rem;
    border-radius: 24px;
    background: url(./images/monkey_1.jpeg) no-repeat;
    background-size: cover;
    margin: 0.5rem 0.5rem;
}
/* .image_gallery .gallery_1 .animal_card img{
    height: 18rem;
    border-radius: 25px;
    padding-top: 0.5rem;
} */
.image_gallery  .gallery_1 .animal_card .card_pro{
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    gap: 0.7rem;
}
.image_gallery  .gallery_1 .animal_card .card_pro .backg{
    background-color: #fff;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_gallery  .gallery_1 .animal_card .card_pro .backg img{
    height: 2rem;
    width: 2rem;
}
.image_gallery  .gallery_1 .animal_card .card_pro h3{
    font-weight: 900;
    color: #fff;
    font-size: 1.5rem;
}

/* second gallery  */
.gallery .gallery_2{
    display: flex;
    /* justify-content: center; */
    gap: 3rem;
}
.image_gallery .gallery_2 .animal_card{
    background-color: var(--section-head-color);
    height: 25rem;
    width: 16.875rem;
    border-radius: 32px;
}
.image_gallery .gallery_2 .animal_card .cover_img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17.5rem;
    width: 15.875rem;
    border-radius: 24px;
    background: url(./images/elephant_1.jpeg) no-repeat;
    background-size: cover;
    margin: 0.5rem 0.5rem;
}
/* .image_gallery .gallery_2 .animal_card img{
    height: 18rem;
    border-radius: 25px;
    padding-top: 0.5rem;
} */
.image_gallery  .gallery_2 .animal_card .card_pro{
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    gap: 0.7rem;
}
.image_gallery  .gallery_2 .animal_card .card_pro .backg{
    background-color: #fff;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_gallery  .gallery_2 .animal_card .card_pro .backg img{
    height: 2rem;
    width: 2rem;
}
.image_gallery  .gallery_2 .animal_card .card_pro h3{
    font-weight: 900;
    color: #fff;
    font-size: 1.5rem;
}

/* learn more of gallery section  */
.gallery .gallery_learn{
    text-align: center;
    margin-top: 3rem;
}
.gallery .gallery_learn p{
    font-weight: 400;
    font-size: var(--fade-color-font);
    color: var(--fade-color);
}
.gallery .gallery_learn a{
    font-weight: 400;
    color: var(--font-black-color);
    font-size: var(--fade-color-font);
}

/* end of gallery  */

/* tickets section  */
.tickets{
    background: url(./images/tickets_bg.png) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ticket_info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.ticket_info h2{
    font-weight: 700;
    color: #fff;
    font-size: var(--section-head-font);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
.ticket_info h1{
    color: #fff;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
}
.ticket_info p{
    color: #fff;
    font-weight: 400;
    font-size: var(--sections-paragragh);
    line-height: 32px;
    text-align: center;
}
.ticket_info .tickets_btn{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.ticket_info .tickets_btn .btn_orange{
    background-color: #dd9f39;
    font-family: inherit;
    color: #fff;
    font-weight: 700;
    border: none;
    /* padding: 16px 24px; */
    width: 154px;
    height: 48px;
    text-transform: uppercase;
    border-radius: 35px;
    cursor: pointer;
}
.ticket_info .tickets_btn .btn_white{
    background: transparent;
    font-family: inherit;
    color: #fff;
    font-weight: bold;
    border: none;
    /* padding: 16px 24px; */
    width: 154px;
    height: 48px;
    text-transform: uppercase;
    border-radius: 35px;
    border: solid 1px;
    cursor: pointer;
}
/* end of tickets styling  */

/* events styling  */
.events .events-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event-text{
    margin-right: 35rem;
}
.event-text h2{
    font-weight: 700;
    color: var(--section-head-color);
    font-size: var(--section-head-font);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.event-text h1{
    margin-top: 2rem;
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 2.5rem;
    line-height: 3rem;
}
.event-text p{
    font-weight: 400;
    color: var(--font-black-color);
    font-size: var(--sections-paragragh);
    line-height: 32px;
}

/* events card style  */
.events .event_pictures {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 5rem;
    gap: 1rem;
}
.events .event_pictures .event_pic_cards{
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    height: 11rem;
    width: 73.125rem;
    border-radius: 25px;
}

.events .event_pictures .zebra_card{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 11rem;
    width: 73.125rem;
    border-radius: 25px;
}
.events .event_pictures .event_pic_cards .img_content{
    display: flex;
}
.events .event_pictures .event_pic_cards .img_content .img_card{
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}
.events .event_pictures .event_pic_cards .img_content .img_card img{
    height: 10rem;
    border-radius: 25px;
}
.events .event_pictures .event_pic_cards .img_content .text_events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    gap: 0.7rem;
}
.events .event_pictures .event_pic_cards .img_content .text_events h1{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 1.5rem;
}
.events .event_pictures .event_pic_cards .img_content .text_events p{
    line-height: 1.5rem;
    color: var(--fade-color);
    font-weight: 400;
    font-size: var(--fade-color-font)
}
.events .event_pictures .event_pic_cards .calender{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
}
.events .event_pictures .event_pic_cards .calender h1{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 2.5rem;
    line-height: 3rem;
}
.events .event_pictures .event_pic_cards .calender p{
    font-weight: 400;
    color: var(--font-black-color);
    font-size: var(--sections-paragragh);
    text-align: center;
}

.events .want_to_know{
    margin-top: 3rem;
    text-align: center;
}
.events .want_to_know p{
    font-size: var(--fade-color-font);
    font-weight: 400;
    color: var(--fade-color);
}
.events .want_to_know a{
    color: var(--font-black-color);
    font-weight: 400;
    font-size: var(--sections-paragragh);
}

/* end of event  */

/* testimonials section  */
.testimonials{
    
}
.testimonials .testimonials_head{
    text-align: center;
}
.testimonials .testimonials_head h2{
    font-weight: 700;
    color: var(--section-head-color);
    font-size: var(--section-head-font);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.testimonials .testimonials_head h1{
    margin-top: 2rem;
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 2.5rem;
    line-height: 3rem;
}
.testimonials .testimonials_head p{
    font-weight: 400;
    color: var(--font-black-color);
    font-size: var(--sections-paragragh);
    line-height: 32px;
}
.testimonials .testimony_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;
    /* flex-wrap: wrap; */
}

/* card with white background  */
.testimonials .testimony_cards .white_bg{
    background-color: #fff;
    width: 23.125rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 35px;
}
.testimonials .testimony_cards .white_bg .profile_img{
    /* background-color: var(--bg-colour-dark); */
    background-image: url(../zoo/images/woman_pink_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 7rem;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}
.testimonials .testimony_cards .white_bg .profile_img img{
    height: 5rem;
    width: 5rem;
    display: none;
}
.testimonials .testimony_cards .white_bg .rate_star{
    margin-left: 1.5rem;
}
.testimonials .testimony_cards .white_bg .card_message{
    margin-left: 1.5rem;
}
.testimonials .testimony_cards .white_bg .card_message p{
    line-height: 1.5rem;
    color: var(--fade-color);
    font-weight: 400;
    font-size: var(--fade-color-font);
}
.testimonials .testimony_cards .white_bg .card_message h1{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
/* end of white card styling  */

/* far left  */
.testimonials .testimony_cards .left_margin{
    background-color: #fff;
    width: 23.125rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 35px;
}

.testimonials .testimony_cards .rate_card .profile_img .bg{
    /* background-color: #fff; */
    background-image: url(../zoo/images/man_1.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 7rem;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

/* far right  */
.testimonials .testimony_cards .right_margin{
    background-color: #fff;
    width: 23.125rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 35px;
}
.testimonials .testimony_cards .rate_card .profile_img .far_right{
    /* background-color: #fff; */
    background-image: url(../zoo/images/man_2.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 7rem;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.testimonials .testimony_cards .rate_card .profile_img .bg img{
    height: 5rem;
    width: 5rem;
    display: none;
}
.testimonials .testimony_cards .rate_card .card_message{
    margin-left: 1.5rem;
}
.testimonials .testimony_cards .rate_card .card_message p{
    line-height: 1.5rem;
    color: var(--fade-color);
    font-weight: 400;
    font-size: var(--fade-color-font);
}
.testimonials .testimony_cards .rate_card .card_message h1{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
.testimonials .wanna_know{
    text-align: center;
    margin-top: 3rem;
}
.testimonials .wanna_know p{
    font-size: var(--fade-color-font);
    font-weight: 400;
    color: var(--fade-color);
}
.testimonials .wanna_know a{
    color: var(--font-black-color);
    font-weight: 400;
    font-size: var(--sections-paragragh);
}
 .rate_card .rate_star{
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.rate_star .fa-star{
    color:#dd9f39;
    font-size:24px;
}

/* end of testimonials  */

/* zoo pricing  */

.zoo_pricing .price_card_bg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    /* flex-wrap: wrap; */
}
.price_card_bg .card-container{
    background: url(../zoo/images/pricin_bg.png) no-repeat;
    height: 600px;
    width: 700px;
}
/* price card  */
.zoo_pricing .price_card_bg .price_card{
    background-color: #fff;
    width: 31.25rem;
    height: 25rem;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 3rem;
    margin-top: 4.5rem;
}
.zoo_pricing .price_card_bg .price_card h1{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 4.5rem;
    margin-left: 3rem;
    margin-top: 1rem;
}
.zoo_pricing .price_card_bg .price_card h2{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 3rem;
}
.zoo_pricing .price_card_bg .price_card .price_list{
    margin-left: 3rem;
}
.zoo_pricing .price_card_bg .price_card .price_list ul{
    list-style-type: none;
}
.zoo_pricing .price_card_bg .price_card .price_list ul li{
    line-height: 1.5rem;
    color: var(--fade-color);
    font-size: var(--fade-color-font);
    font-weight: 400;
}
.zoo_pricing .price_card_bg .price_card .price_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.zoo_pricing .price_card_bg .price_card  button{
    background: var(--section-head-color);
    color: #fff;
    font-family: inherit;
    font-weight: bold;
    border: none;
    /* padding: 16px 24px; */
    width: 154px;
    height: 48px;
    text-transform: uppercase;
    border-radius: 35px;
    cursor: pointer;
}

/* price detials  */
.zoo_pricing .price_card_bg .price_details{
    /* background-color: green; */
    width: 30rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.zoo_pricing .price_card_bg .price_details h2{
    font-weight: 700;
    color: var(--section-head-color);
    font-size: var(--section-head-font);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.zoo_pricing .price_card_bg .price_details h1{
    /* margin-top: 2rem; */
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 2.5rem;
    line-height: 3rem;
}
.zoo_pricing .price_card_bg .price_details p{
    font-weight: 400;
    color: var(--font-black-color);
    font-size: var(--sections-paragragh);
    line-height: 32px;
}
.zoo_pricing .price_card_bg .price_details .know_more{

}
.zoo_pricing .price_card_bg .price_details .know_more p{
    font-size: var(--fade-color-font);
    font-weight: 400;
    color: var(--fade-color);
}
.zoo_pricing .price_card_bg .price_details .know_more a{
    color: var(--font-black-color);
    font-weight: 400;
    font-size: var(--sections-paragragh);
}
/* end of pricing section  */

/* donation section  */

.donation .donation_bg{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 4rem;
}
.donation .donation_details{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    gap: 2rem;
}
.donation .donation_details h2{
    font-weight: 700;
    color: var(--section-head-color);
    font-size: var(--section-head-font);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.donation .donation_details h1{
    /* margin-top: 2rem; */
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 2.5rem;
    line-height: 3rem;
}
.donation .donation_details p{
    font-weight: 400;
    color: var(--font-black-color);
    font-size: var(--sections-paragragh);
    line-height: 32px;
}
/* .zoo_donation .donation_details .know_more{

} */
.donation .donation_details .know_more p{
    font-size: var(--fade-color-font);
    font-weight: 400;
    color: var(--fade-color);
}
.donation .donation_details .know_more a{
    color: var(--font-black-color);
    font-weight: 400;
    font-size: var(--sections-paragragh);
}

/* donation card  */
.donation_bg .card-contain{
    background: url(../zoo/images/pricin_bg.png) no-repeat;
    height: 600px;
    width: 700px;
}
.donation_bg .card-contain .card-controller{
    margin-left: 3.2rem;
    margin-top: 4rem;
}

.donation .donation_card{
    background-color: #fff;
    width: 31.25rem;
    height: 25rem;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-right: 6rem;
}
.donation .donation_card .circles{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.donation_card .big_circle{
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    background-color: var(--section-head-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.donation_card .big_circle .small_circle{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.donation_card .big_circle .small_circle h1{
    color: var(--font-black-color);
    font-weight: 900;
    font-size: 2.5rem;
}
.donation_card .amount{
    display: flex;
    align-items: center;
    justify-content: center;
}
.donation .donation_card .amount .bold h2{
    color: var(--font-black-color);
    font-weight: 900;
    font-size: 2.5rem;
}
.donation .donation_card .amount .light h4{
    color: var(--fade-color);
    font-weight: 400;
    font-size: var(--fade-color-font);
}
.donation .donation_card .donate_button{
    display: flex;
    justify-content: center;
}
.donation_card button{
    background: var(--section-head-color);
    color: #fff;
    font-family: inherit;
    font-weight: bold;
    border: none;
    /* padding: 16px 24px; */
    width: 154px;
    height: 48px;
    text-transform: uppercase;
    border-radius: 35px;
    cursor: pointer;
}

/* end of donation  */

/* zoo questions  */

.zoo_questions{
    
}
.zoo_questions .content{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.zoo_questions .content h2{
    font-weight: 700;
    color: var(--section-head-color);
    font-size: var(--section-head-font);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.zoo_questions .content h1{
    /* margin-top: 2rem; */
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 2.5rem;
    line-height: 3rem
}
.zoo_questions .content p{
    font-weight: 400;
    color: var(--font-black-color);
    font-size: var(--sections-paragragh);
    line-height: 32px;
}


.zoo_questions .move_card{
    display: flex;
    justify-content: center
}
.zoo_questions .move_card .questions_card_bg{
    height: 26rem;
    width: 50rem;
    background-color: #fff;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
}
.zoo_questions .move_card .questions_card_bg .card_important{
    margin-left: 2rem;
}
.zoo_questions .move_card .questions_card_bg .card_important h1{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 1.5rem;
}
.zoo_questions .move_card .questions_card_bg P{
    line-height: 1.5rem;
    color: var(--fade-color);
    font-weight: 400;
    font-size: var(--fade-color-font);
    padding-top: 1rem;
}
.zoo_questions .move_card .questions_card_bg .card_important .head{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}
.zoo_questions .move_card .questions_card_bg .card_important .arrowup{
    margin-right: 2rem
}

.zoo_questions .move_card .questions_card_bg .meaning_ofzoo{
    margin-left: 2rem;
}
.zoo_questions .move_card .questions_card_bg .meaning_ofzoo .head{
    display: flex;
    justify-content: space-between;
}
.zoo_questions .move_card .questions_card_bg .meaning_ofzoo .head h1{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 1.5rem;
}
.zoo_questions .move_card .questions_card_bg .meaning_ofzoo .arrowdown{
    margin-right: 2rem;
    background: transparent;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--section-head-color);
}
.zoo_questions .move_card .questions_card_bg .card_important .arrowup{
    margin-right: 2rem;
    background: transparent;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--section-head-color);
}

.zoo_questions hr{
    width: 90%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--section-head-color);
    border: 0 none;
    opacity: 0.3;
}

/* zoo instagram styling  */

.zoo_instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    margin-left: 4rem;
}
.zoo_instagram .insta_content{
    display: flex;
    gap: 3rem;
}
.zoo_instagram .insta_content .insta_head{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.zoo_instagram .insta_content .insta_head h1{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 1.5rem;
}
.zoo_instagram .insta_content .insta_head p{
    color: var(--fade-color);
    font-weight: 400;
    font-size: var(--fade-color-font);
}
/* .zoo_instagram .insta_content .insta_head .learn{
    
} */
.zoo_instagram .insta_content .insta_head .learn p{
    color: var(--fade-color);
    font-weight: 400;
    font-size: var(--fade-color-font);
}
.zoo_instagram .insta_content .insta_head .learn a{
    color: var(--font-black-color);
    font-weight: 400;
    font-size: var(--sections-paragragh);
}
.zoo_instagram .insta_content .pics {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 2rem;
}
.zoo_instagram .insta_content .pics .pic_1{
    height: 10rem;
    width: 10rem;
    background-image: url(../zoo/images/children_feeding_girrafe_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 20px;
}
.zoo_instagram .insta_content .pics .pic_2{
    height: 10rem;
    width: 10rem;
    background-image: url(../zoo/images/lion_1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 20px;
}
.zoo_instagram .insta_content .pics .pic_3{
    height: 10rem;
    width: 10rem;
    background-image: url(../zoo/images/elephant_2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 20px;
}
.zoo_instagram .insta_content .pics .pic_4{
    height: 10rem;
    width: 10rem;
    background-image: url(../zoo/images/monkey_2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 20px;
}

/* end of instagram section styling  */

/* zoo news styling  */

.zoo_news{
    display: flex;
    flex-direction: column;
}
.zoo_news .news-container{
    align-self: center;
}
.zoo_news .news_head{
    
}
.zoo_news .news_head h4{
    font-weight: 700;
    color: var(--section-head-color);
    font-size: var(--section-head-font);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.zoo_news .news_head h1{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 2.5rem;
    line-height: 3rem;
}
.zoo_news .news_head p{
    font-weight: 400;
    color: var(--font-black-color);
    font-size: var(--sections-paragragh);
    line-height: 32px;
}

/* news card cointainer  */

.zoo_news .news_img_bg{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}

/* large news card  */
.zoo_news .news_img_bg .news_card_large{
    background-color: #fff;
    height: 25rem;
    width: 32rem;
    border-radius: 25px;
}
.zoo_news .news_img_bg .news_card_large .cover_img{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}
.zoo_news .news_img_bg .news_card_large .cover_img img{
    height: 18rem;
    width: 31rem;
    border-radius: 25px;
}
.zoo_news .news_img_bg .news_card_large h1{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 1.5rem;
    margin-left: 0.5em;
}
.zoo_news .news_img_bg .news_card_large p{
    color: var(--fade-color);
    font-weight: 400;
    font-size: var(--fade-color-font);
    line-height: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

/* small news cards  */
.zoo_news .news_img_bg .news_card{
    background-color: #fff;
    height: 25rem;
    width: 15rem;
    border-radius: 25px;
}
.zoo_news .news_img_bg .news_card .cover_img{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}
.zoo_news .news_img_bg .news_card .cover_img img{
    border-radius: 25px;
}
.zoo_news .news_img_bg .news_card .news_info{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1.5rem;
}
.zoo_news .news_img_bg .news_card .news_info h4{
    color: var(--font-black-color);
    font-size: 1rem;
    font-weight: 400;
}
.zoo_news .news_img_bg .news_card .news_info h1{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.zoo_news .news_img_bg .news_card .news_info p{
    color: var(--fade-color);
    font-weight: 400;
    font-size: var(--fade-color-font);
    line-height: 1.4rem;
    padding-top: 1rem;
}
.zoo_news .get_more{
    text-align: center;
    margin-top: 3rem;
}
.zoo_news .get_more p{
    font-size: var(--fade-color-font);
    font-weight: 400;
    color: var(--fade-color);
}
.zoo_news .get_more a{
    color: var(--font-black-color);
    font-weight: 400;
    font-size: var(--sections-paragragh);
}
/* end of blog and news styling  */

/* buy tickets  */

.buy_tickets{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buy_tickets .white_container{
    background-color: white;
    height: 37rem;
    width: 65rem;
    border-radius: 30px;
}
.buy_tickets .white_container .buy_info{
    background-image: url(./images/tickets_last.png);
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 30px;
    
}
.buy_tickets .white_container   .map-bottom{
    background-image: url(./images/bottom-map.png);
    min-height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 30px;
}
.buy_tickets .white_container .buy_info .tickets_cn .content{
   padding-top: 3rem;
}
.buy_tickets .white_container .buy_info .tickets_cn .content h4{
    color: #fff;
    font-size: var(--section-head-font);
    font-weight: 700;
    text-transform: uppercase; 
    text-align: center;
}
.buy_tickets .white_container .buy_info .tickets_cn .content h1{
    color: #fff;
    font-weight: 900;
    font-size: var(--sections-big-font);
    line-height: 4rem;
    text-align: center;
    padding-top: 1.5rem;
}
.buy_tickets .white_container .buy_info .tickets_cn .content p{
    color: #fff;
    font-weight: 400;
    font-size: var(--sections-paragragh);
    line-height: 2rem;
    text-align: center;
    padding-top: 1rem;
}
.buy_tickets .white_container .buy_info .tickets_cn .buy_btn{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-top: 1.5rem;
}
.buy_tickets .white_container .buy_info .tickets_cn .buy_btn .btn_orange{
    background-color: #dd9f39;
    font-family: inherit;
    color: #fff;
    font-weight: 700;
    border: none;
    /* padding: 16px 24px; */
    width: 154px;
    height: 48px;
    text-transform: uppercase;
    border-radius: 35px;
    cursor: pointer;
}
.buy_tickets .white_container .buy_info .tickets_cn .buy_btn .btn_white{
    background: transparent;
    font-family: inherit;
    color: #fff;
    font-weight: bold;
    border: none;
    /* padding: 16px 24px; */
    width: 154px;
    height: 48px;
    text-transform: uppercase;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.295743);
    cursor: pointer;
}

/* footer styling  */

footer{

}
footer .top{
    display: flex;
    justify-content: space-around;
}
footer .top .f_logo h1{
    font-weight: 900;
    color: var(--font-black-color);
    font-size: 2.5rem;
}
footer .top .menu{
    margin-top: 1.5rem;
}

.menu_h {
    margin-bottom: 1rem;
}
footer .top .menu h4{
    font-weight: 700;
    color: var(--section-head-color);
    font-size: var(--section-head-font);
    letter-spacing: 1px;
    text-transform: uppercase;
}
footer .top .menu ul li a{
    line-height: 1rem;
    font-weight: 400;
    color: var(--font-black-color);
    font-size: var(--fade-color-font);
}
footer .top  .social_icons .wp-icon{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    line-height: 3rem;
    vertical-align: middle;
    color: #fff;
    margin-right: 5px;
    background: #348183;
}
footer .down{
    display: flex;
    justify-content: space-between;
    margin: 3rem 4rem;
}

footer .down .copyright p{
    color: var(--fade-color);
    font-weight: 400;
    font-size: var(--fade-color-font);
}
footer .down .terms_and_privacy{
    display: flex;
    gap: 2rem;
}
footer .down .terms_and_privacy .terms a{
    font-weight: 400;
    color: var(--font-black-color);
    font-size: var(--fade-color-font);
}
footer .down .terms_and_privacy .privacy a{
    font-weight: 400;
    color: var(--font-black-color);
    font-size: var(--fade-color-font);
}
footer hr{
    width: 90%;
    height: 0.5px;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--section-head-color);
    border: 0 none;
    opacity: 0.3;
}

/* fixed navbar styling  */
header.sticky{
    background-color: var(--section-head-color);
    padding: 10px 5%;
    height: 5rem;
}
.sticky .logo{
    color: #fff;
}
.sticky .navbar li a{
    color: #fff;
}
.sticky .navbar li a:hover{
    background: #fff;
    color: var(--section-head-color);
}

/* media query  */

@media (max-width: 1400px) {
    .hero{
        background-size: 700px 600px;
    }
    .hero-text{
        margin-top: 5rem;
        margin-left: 8rem;
    }
    .hero-text h1{
        font-size: 3.5rem;
        line-height: 3rem;
        margin-top: 1rem;
    }
    .hero-text p{
        margin-top: 1rem;
    }
    .about-image {
        top: 1rem;
    }
    .about-text{
        margin-left: 3rem;
    }
    .about-text h1{
        margin-top: 1rem;
    }
    .about-text p{

    }
    .about-zoo .about-image{
        width: 550px;
    }
    .service .tiger-img {
        width: 500px;
     }
     .service-text{
        margin-left: 15rem;
     }
}

